<h1>Editing page</h1>

<%= render "form", page: @page %>

<br>
<div class="btn-group my-5">
  <%= link_to "Show this page", @page, class: "btn btn-sm btn-primary" %>
  <%= link_to "Back to pages", pages_path, class: "btn btn-sm btn-primary" %>
</div>
