<%= render @page %>

<div class="btn-group my-5">
  <%= link_to "Edit this page", edit_page_path(@page), class: "btn btn-sm btn-primary" %>
  <%= link_to "Back to pages", pages_path, class: "btn btn-sm btn-primary" %>
  <%= button_to "Destroy this page", @page, method: :delete, class: "btn btn-sm btn-primary" %>
</div>
